<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-qZLjX76fRxNsR8W2Ad2HoQfXha9OcUI</string>
	<key>GCM_SENDER_ID</key>
	<string>535000467603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.planetquiz</string>
	<key>PROJECT_ID</key>
	<string>planetquiz-42c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>planetquiz-42c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535000467603:ios:516f25580835294727e566</string>
</dict>
</plist>